//*********************************************************************************************************************
// Partial for the site colour scheme, defining variables containing the various colours to be used.
//*********************************************************************************************************************

// Colour palette for styling:
$p_dblue: #003250;
$p_medblue: #5893AC;
$p_lblue: #BBD2E0;
$p_dgrey: #787878;
$p_medgrey: #A7A7A7;
$p_lgrey: #F2F2F5;

// Variables for efficient styling:
$banner_primary_colour: $p_lgrey;
$content_bg_colour: $p_lblue;
$core_font_colour: #111111;