.result {
  list-style-type: none;
  cursor:hand;

  margin: 6px;

  &.pass {
    color: green;
  }

  &.fail {
    color: red;
    cursor: pointer;
  }

  .ellipsis {
    font-weight: bold;
    text-decoration: underline;
  }
}