//*********************************************************************************************************************
// Partial for the site colour scheme, defining variables containing the various colours to be used.
//*********************************************************************************************************************
$banner_bg_colour: #5893AC;
$content_bg_colour: #F2F2F5;
$core_font_colour: #111111;