//*********************************************************************************************************************
// Baseline typographical configuration properties.
//*********************************************************************************************************************

// Basic font stack:
$font-stack: "Arial";

// Vertical rhythm properties;
$base_font_size: 20px;
$base_line_height: 32px;

$w_list_font_size: 30px;
$w_list_line_height: 49px;
