//*********************************************************************************************************************
// Baseline typographical configuration properties.
//*********************************************************************************************************************

// Basic font stack:
$font-stack:  "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Dejavu Sans", Verdana, sans-serif;

// Vertical rhythm properties:
$base-font-size: 16px;
$base-line-height: 25px;