//*********************************************************************************************************************
// Stylesheet for the content wrapper, defining properties to be inherited by all content.
//*********************************************************************************************************************
@import "../modules/import_all";

// Constants:
$content_width: 100%;

#content_wrapper {
  font-family: $font-stack;
  position: relative;
  width: $content_width;

  @include center-block;
}

#rv_container {
  display: none;
}

#cb_container {
  display: none;
}
