//*********************************************************************************************************************
// Partial for the recipe page main content area, defining properties for recipe content.
//*********************************************************************************************************************
// Some variables:
$recipe_content_width: 80%;

// Styles:
#rcp_columns {
  margin-left: auto;
  margin-right: auto;
  margin-top: $content_offset;
  width: $recipe_content_width;


  @include jw-wfbox(flex-start, flex, row, nowrap, flex-start);

  #rcp_ingredients {
    line-height: 22px;
    padding: 0;
    width: 35%;

    .rcp_inglist {
      list-style-type: none;
    }
  }

  #rcp_instructions {
    height: 100%;
    padding-left: $content_offset/2;
    width: 65%;

    .rcp_inslist {
      list-style-type: none;
    }

    .rcp_instruction {
      @include transition(color 0.3s ease-in);

      &:hover {
        color: $p_medblue;
        cursor: pointer;
        @include transition(color 0.3s ease-in);
      }
    }
  }
}