//*********************************************************************************************************************
// Partial for search page structure, defining properties for the search page structure and its children.
//*********************************************************************************************************************
@import "../modules/import_all";

// Some local variables:

// Styles:
#search_title{
  width: 100%;
  text-align: center;
  font-size: 150%;
  @include center-block();
}

#search_columns {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $break_large) {
    width: 80%;
  }

  @media screen and (max-width: $break_large) {
    margin-left: 6px;
    margin-right: 6px;
  }

  //@include jw-wfbox(flex-start, flex, row, nowrap, flex-start);

  #search_results {
    min-height: 500px;
    min-width: 620px;


    @media screen and (min-width: $break_small) {
      display: inline-block;
      width: 64%;
      float: left;
    }

    @media screen and (max-width: $break_small) {
      width: 620px;
      float: none;
      display: block;
    }
  }

  #search_filters {
    box-shadow: 2px 2px 5px 2px #CCCCCC;
    border-radius: 3px;
    margin-top: 20px;
    padding: 12px;

    @media screen and (min-width: $break_small) {
      float: right;
      width: 300px;
      display: inline-block;
    }

    @media screen and (max-width: $break_small) {
      float: none;
      display: block;
      max-width: 585px;
      min-width: 300px;
    }

    @include background-image(linear-gradient(hsla(0, 100%, 100%, 0.25) 0%, hsla(0, 100%, 100%, 0.08) 50%, transparent 50%), linear-gradient(lighten($p_lgrey, 10%), $p_lgrey));


    h3 {
      width: 50%;
      @include center-block();
    }

    &.focused {
      border: 2px solid black;
      padding-bottom: 8px;
      padding-right: 8px;
    }

  }
}