/**********************************************************************************************************************
 This is the main stylesheet for the help page, and the only stylesheet that will be served to the web browser when the
 help page is requested. The styles for the individual components of the page are located in:

 "app/assets/stylesheets/partials"

 and are imported into this stylesheet.
**********************************************************************************************************************/
body {
  margin: 0;
  padding: 0; }

#content_wrapper {
  border-left: 2px #f2f2f5 solid;
  border-right: 2px #f2f2f5 solid;
  font-family: "Arial";
  font-size: 20px;
  line-height: 32px;
  min-height: 760px;
  max-width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

#overlay {
  background: rgba(0, 0, 0, 0.3);
  display: none;
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99997; }

#rv_container {
  display: none; }

#cb_container {
  display: none; }

#banner {
  background-color: #f2f2f5;
  display: block;
  position: relative;
  width: 100%;
  overflow: auto; }
  #banner #banner_image {
    height: 75px;
    float: left;
    padding-top: 10px;
    margin-right: 36px;
    width: 296px;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto; }
  #banner #banner_search {
    -webkit-transition: color 0.3s ease-in 0s;
    -moz-transition: color 0.3s ease-in 0s;
    transition: color 0.3s ease-in 0s;
    height: 75%;
    padding: 6px;
    width: 300px;
    align-items: center;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
    @media screen and (min-width: 520px) {
      #banner #banner_search {
        margin-top: 20px;
        float: right; } }
    #banner #banner_search #bs_input {
      display: block;
      height: 30px;
      width: 200px; }
    #banner #banner_search #bs_submit {
      height: 37px;
      border: 1px solid #a8cadf;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 white;
      color: #333333;
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      background-color: #dee9f0;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dee9f0), color-stop(100%, #b3d1e3));
      background-image: -webkit-linear-gradient(#dee9f0, #b3d1e3);
      background-image: linear-gradient(#dee9f0, #b3d1e3);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 #ebf3f8;
      background-clip: padding-box; }
      #banner #banner_search #bs_submit:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 #f0f5f7;
        cursor: pointer;
        background-color: #cedde7;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cedde7), color-stop(100%, #a8cade));
        background-image: -webkit-linear-gradient(#cedde7, #a8cade);
        background-image: linear-gradient(#cedde7, #a8cade); }
      #banner #banner_search #bs_submit:active:not(:disabled) {
        border: 1px solid #a8cadf;
        box-shadow: inset 0 0 8px 4px #9ec3da, inset 0 0 8px 4px #9ec3da, 0 1px 1px 0 #eeeeee; }
      #banner #banner_search #bs_submit:disabled {
        opacity: 0.5;
        cursor: not-allowed; }
  #banner nav {
    float: left;
    padding-top: 30px;
    width: 150px;
    align-items: center;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
    #banner nav .nav_icon {
      color: inherit;
      cursor: inherit;
      text-decoration: none;
      -webkit-transition: color 0.3s ease-in 0s;
      -moz-transition: color 0.3s ease-in 0s;
      transition: color 0.3s ease-in 0s;
      align-items: center;
      display: inline-flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start; }
      #banner nav .nav_icon:active, #banner nav .nav_icon:focus {
        outline: none; }
      #banner nav .nav_icon:focus {
        color: #5893ac;
        border: 1px dotted black; }
      #banner nav .nav_icon:hover {
        color: #5893ac;
        cursor: pointer;
        -webkit-transition: color 0.3s ease-in 0s;
        -moz-transition: color 0.3s ease-in 0s;
        transition: color 0.3s ease-in 0s; }
      #banner nav .nav_icon i {
        margin: 0;
        padding: 0; }
      #banner nav .nav_icon p {
        font-size: 14px;
        margin-top: -10px;
        margin-left: 2px;
        margin-right: 0;
        margin-bottom: 0;
        padding: 0; }
  #banner .nav_text {
    color: #5893ac;
    left: 540px;
    position: absolute;
    top: 17px;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto; }

#welcome_message {
  margin-top: 100px;
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  #welcome_message h1 {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  #welcome_message p {
    text-align: justify;
    text-justify: distribute;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  #welcome_message #w_list {
    font-size: 30px;
    line-height: 49px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
    #welcome_message #w_list .w_list_item {
      -webkit-transition: color 0.2s ease-in 0s;
      -moz-transition: color 0.2s ease-in 0s;
      transition: color 0.2s ease-in 0s; }
      #welcome_message #w_list .w_list_item:hover {
        color: white;
        cursor: default;
        -webkit-transition: color 0.2s ease-in 0s;
        -moz-transition: color 0.2s ease-in 0s;
        transition: color 0.2s ease-in 0s; }
      #welcome_message #w_list .w_list_item .w_list_itext {
        margin-left: 40px; }
    #welcome_message #w_list #w_list_help {
      margin-left: 20px; }
      #welcome_message #w_list #w_list_help .w_list_itext {
        margin-left: 55px; }
