/**********************************************************************************************************************
 This is the main stylesheet for the search page, and the only stylesheet that will be served to the web browser when
 the search page is requested. The styles for the individual components of the page are located in:

 "app/assets/stylesheets/partials"

 and are imported into this stylesheet.
**********************************************************************************************************************/
body {
  margin: 0;
  margin-bottom: 10px;
  padding: 0; }

#content_wrapper {
  border-left: 2px #f2f2f5 solid;
  border-right: 2px #f2f2f5 solid;
  font-family: "Arial";
  font-size: 20px;
  line-height: 32px;
  min-height: 760px;
  max-width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

#overlay {
  background: rgba(0, 0, 0, 0.3);
  display: none;
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99997; }

#rv_container {
  display: none; }

#cb_container {
  display: none; }

#banner {
  background-color: #f2f2f5;
  display: block;
  position: relative;
  width: 100%;
  overflow: auto; }
  #banner #banner_image {
    height: 75px;
    float: left;
    padding-top: 10px;
    margin-right: 36px;
    width: 296px;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto; }
  #banner #banner_search {
    -webkit-transition: color 0.3s ease-in 0s;
    -moz-transition: color 0.3s ease-in 0s;
    transition: color 0.3s ease-in 0s;
    height: 75%;
    padding: 6px;
    width: 300px;
    align-items: center;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
    @media screen and (min-width: 520px) {
      #banner #banner_search {
        margin-top: 20px;
        float: right; } }
    #banner #banner_search #bs_input {
      display: block;
      height: 30px;
      width: 200px; }
    #banner #banner_search #bs_submit {
      height: 37px;
      border: 1px solid #a8cadf;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 white;
      color: #333333;
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      background-color: #dee9f0;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dee9f0), color-stop(100%, #b3d1e3));
      background-image: -webkit-linear-gradient(#dee9f0, #b3d1e3);
      background-image: linear-gradient(#dee9f0, #b3d1e3);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 #ebf3f8;
      background-clip: padding-box; }
      #banner #banner_search #bs_submit:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 #f0f5f7;
        cursor: pointer;
        background-color: #cedde7;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cedde7), color-stop(100%, #a8cade));
        background-image: -webkit-linear-gradient(#cedde7, #a8cade);
        background-image: linear-gradient(#cedde7, #a8cade); }
      #banner #banner_search #bs_submit:active:not(:disabled) {
        border: 1px solid #a8cadf;
        box-shadow: inset 0 0 8px 4px #9ec3da, inset 0 0 8px 4px #9ec3da, 0 1px 1px 0 #eeeeee; }
      #banner #banner_search #bs_submit:disabled {
        opacity: 0.5;
        cursor: not-allowed; }
  #banner nav {
    float: left;
    padding-top: 30px;
    width: 150px;
    align-items: center;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
    #banner nav .nav_icon {
      color: inherit;
      cursor: inherit;
      text-decoration: none;
      -webkit-transition: color 0.3s ease-in 0s;
      -moz-transition: color 0.3s ease-in 0s;
      transition: color 0.3s ease-in 0s;
      align-items: center;
      display: inline-flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start; }
      #banner nav .nav_icon:active, #banner nav .nav_icon:focus {
        outline: none; }
      #banner nav .nav_icon:focus {
        color: #5893ac;
        border: 1px dotted black; }
      #banner nav .nav_icon:hover {
        color: #5893ac;
        cursor: pointer;
        -webkit-transition: color 0.3s ease-in 0s;
        -moz-transition: color 0.3s ease-in 0s;
        transition: color 0.3s ease-in 0s; }
      #banner nav .nav_icon i {
        margin: 0;
        padding: 0; }
      #banner nav .nav_icon p {
        font-size: 14px;
        margin-top: -10px;
        margin-left: 2px;
        margin-right: 0;
        margin-bottom: 0;
        padding: 0; }
  #banner .nav_text {
    color: #5893ac;
    left: 540px;
    position: absolute;
    top: 17px;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto; }

.help {
  background-color: #ffffa3;
  font-size: 80%;
  cursor: pointer; }
  .help .dismiss {
    display: block;
    font-size: 75%;
    font-weight: bold;
    text-align: center;
    color: black;
    text-decoration: none; }

#search_title {
  width: 100%;
  text-align: center;
  font-size: 150%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

#search_columns {
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 1200px) {
    #search_columns {
      width: 80%; } }
  @media screen and (max-width: 1200px) {
    #search_columns {
      margin-left: 6px;
      margin-right: 6px; } }
  #search_columns #search_results {
    min-height: 500px;
    min-width: 620px; }
    @media screen and (min-width: 980px) {
      #search_columns #search_results {
        display: inline-block;
        width: 64%;
        float: left; } }
    @media screen and (max-width: 980px) {
      #search_columns #search_results {
        width: 620px;
        float: none;
        display: block; } }
  #search_columns #search_filters {
    box-shadow: 2px 2px 5px 2px #CCCCCC;
    border-radius: 3px;
    margin-top: 20px;
    padding: 12px;
    background-image: -webkit-linear-gradient( rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.08) 50%, transparent 50%), -webkit-linear-gradient( white, #f2f2f5);
    background-image: linear-gradient( rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.08) 50%, transparent 50%), linear-gradient( white, #f2f2f5); }
    @media screen and (min-width: 980px) {
      #search_columns #search_filters {
        float: right;
        width: 300px;
        display: inline-block; } }
    @media screen and (max-width: 980px) {
      #search_columns #search_filters {
        float: none;
        display: block;
        max-width: 585px;
        min-width: 300px; } }
    #search_columns #search_filters h3 {
      width: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto; }

.search_result {
  box-shadow: 2px 2px 5px 2px #CCCCCC;
  height: 250px;
  margin-top: 20px;
  overflow: auto;
  background-image: -webkit-linear-gradient( rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.08) 50%, transparent 50%), -webkit-linear-gradient( white, #f2f2f5);
  background-image: linear-gradient( rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.08) 50%, transparent 50%), linear-gradient( white, #f2f2f5);
  -webkit-transition: all 0.05s ease-in;
  -moz-transition: all 0.05s ease-in;
  transition: all 0.05s ease-in;
  color: inherit;
  cursor: inherit;
  text-decoration: none; }
  @media screen and (min-width: 1200px) {
    .search_result {
      width: 90%; } }
  @media screen and (max-width: 1200px) {
    .search_result {
      margin-left: 6px;
      margin-right: 12px; } }
  .search_result:active, .search_result:focus {
    outline: none; }
  .search_result:hover {
    box-shadow: 5px 5px 10px 5px #CCCCCC;
    cursor: pointer;
    top: -5px;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in; }
  .search_result .srch_res_img {
    float: left;
    border-radius: 3px;
    display: block;
    height: 80%;
    margin-left: 20px;
    margin-top: 20px;
    width: 30%; }
  .search_result .search_result_details {
    float: left; }
    .search_result .search_result_details .search_res_list {
      color: black;
      font-size: 14px;
      list-style-type: none;
      padding-left: 12px; }
    .search_result .search_result_details .srch_res_title {
      color: black;
      margin-left: 10px;
      padding-top: 20px;
      font-weight: bold;
      font-size: 110%; }

#search_results_help {
  width: 90%; }

#search_filters h2 {
  text-align: center;
  font-size: 120%; }

#search_fform {
  margin-left: auto;
  margin-right: auto;
  font-size: 16px; }
  #search_fform ul {
    list-style-type: none; }
  #search_fform label {
    display: block; }
  #search_fform #search_fform_submit {
    width: 50%;
    margin: auto;
    display: block; }
    @media screen and (max-width: 340px) {
      #search_fform #search_fform_submit {
        margin-left: 0; } }
  #search_fform #search_fform_reset {
    display: block;
    width: 50%;
    margin: auto; }
    @media screen and (max-width: 340px) {
      #search_fform #search_fform_reset {
        margin-left: 0; } }
