/* One Stylesheet to rule them all, One Stylesheet to find them,
   One Stylesheet to bring them all and in the darkness bind them. */

body {
    background: #F5F5F5;
    font-family: "Lucida Grande", Arial;
    font-size: 13px;
    line-height: 21px;
    color: #444444;
}

#banner {
    background: #DADADA;
    height: 60px;
    display: block;
    width: 100%;
}

#banner_text {
    display: inline-block;
    padding-left: 20px;
}

#categorical_browse_title {
}

#categorical_recipe_browse {
}

#container {
    background: #fff;
    border-bottom: 1px #DDDDDD solid;
    border-left: 1px #DDDDDD solid;
    border-right: 1px #DDDDDD solid;
    margin: 0 auto;
    min-height: 890px;
    width: 760px;
}

html {
    overflow-y: scroll;
}

#ingredients_sidebar {
}

#main_recipe {
    margin: 0 auto;
    width: 95%;
}

#nar_view_button {
}

#nar_recipe_text {
}

#recently_viewed_recipes {
}

#recently_viewed_recipes_title {
}

.recipe_attributes {
    display: inline-block;
    height: 150px;
    margin-left: 35px;
    padding: 0;
    position: absolute;
    width: 275px;
}

.recipe_buttons_container {
}

.recipe_cover_image {
    display: inline-block;
    height: 275px;
    width: 275px;
}

.recipe_page_title {
}

.recipe_text {
}

.recipe_text_container {
    display: block;
}

.recipe_view_selector_button {
    font-size: 85%;
    width: 89px;
}

#sbs_recipe_text {

}

#sbs_view_button {
}

#search {
    display: inline-block;
    height: 30px;
    left: 370px;
    position: relative;
    top: -5px;
    width: 275px;
}

#search_input {
}

#search_submit {
}

#sgm_view_button {
}

#sgm_recipe_text {
}

/* Media queries: */
@media screen and (max-width: 767px) {
    #banner_text{
        padding-left: 10px;
    }

    #container {
        width: 300px;
    }

    .recipe_attributes {
        display: block;
        position: static;
        width: 220px;
    }

    #search {
        display: none;
    }

    #search_input {
        width: 75px;
    }
}